@use "../base/fonts" as *;
@use "../base/colors" as color;

.task-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 0.5rem;

  input[type="checkbox"]::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em orange;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input {
    display: grid;
    place-content: center;
    margin-right: 0.5rem;
    font-size: 3rem;
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: color.$main;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid color.$main;
    transform: translateY(-0.075em);
  }

  input[type="checkbox"]:checked + label {
    text-decoration: line-through;
  }

  label {
    font-family: $bold;
    color: color.$main;
  }
}
